/*
    Используемые цвета:
    #34495e - мокрый асфальт
    #c0392b - красный
    #3498DB - синий
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font: 100%/1.5em Arial, Helvetica, sans-serif;
    color: white;
    background: #14181B;
}

/*Для разметки главных блоков страницы*/
.layout-positioner {
    width: 1000px;
    margin: auto;
    /*border: 1px dashed #db1e2c;*/
}

/*Блоки внутри layout-positioner, чаще всего в пределах тега section*/
.block-float {
    float: left;
    color: black;
    padding: 2.5px;
}

.block-header {
    background-color: #FDC001;
    padding: 5px;
}

.block-content {
    background-color: white;
    padding: 5px;
}

/*Отрисовка сетки с целью тесрирования*/
.border-test {
    /*border: 1px dashed yellow;*/
}

/*Распорка, чтобы последующие блоки учитывали верхние плавающие блоки*/
.clearfix:after,
.layout-positioner:after {
    content: '';
    clear: both;
    display: table;
}

/*fluid grid*/
.container, .wrapper {
    width: 100%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

header {
    padding-top: 1px;
    /*background: #34495e;*/
    /*background: -webkit-linear-gradient(bottom, #34495e, #121b9b);*/
    /*background: linear-gradient(0deg, #34495e, #121b9b);*/
    color: white;
    padding: .5em;
}

header h1 {
    font-weight: bold;
    color: #FDC001;
    font-size: 3em;
}

nav {
    background: #FDC001;
    min-height: 50px;
}

nav.employee-nav {
    background: white;
    /*background: #3498DB;*/
    /*background: #db1e2c;*/
}

ul.nav-horizontal {
    margin: 0;
    padding: 15px;
}

ul.nav-horizontal li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #05080c; /* Рамка вокруг текста */
    padding: 5px; /* Поля вокруг текста */
    background-color: #14181B;
    font-size: 20px;

}

ul.nav-horizontal li a {
    color: #FDC001;
}

main {
    /*background: #34495e;*/
    /*margin-bottom: 10px;*/
}

footer {
    padding: 0.5em;
    text-align: center;
    color: white;
    background: #2A2A2A;
}

footer p a {
    font-size: 16px;
    color: #fff;
}

/*Login*/
.login {
    padding: 0 1em;
}

.login input {
    width: 100%;
    padding: .5em;
    margin: 1em 0 0;
    background-color: #ccc;
}

/*.login input[required] {
    background-color: #c4dcde;
}*/

.login input[name="email"] {
    margin: 0;
}

.login input[type="submit"] {
    font-size: .85em;
    font-weight: bold;
    padding: .3em;
    border-radius: .5em;
    cursor: pointer;
}

.login input:hover,
.login input:focus {
    background-color: #deffbc;
}

/*Main page*/
main .category {
    min-width: 250px;
}

main .events {
    max-width: 600px;
}

main .player {

}

.block-content li ul {
    display: none;
}

.block-content li {;
}

.block-content > ul > li:hover {
    background-color: lightgrey;
}

.block-content li:hover ul {
    display: block;
}

/*Table*/
table {
    border-collapse: collapse;
    border: 1px solid dimgrey;
}

td {
    border: 1px solid dimgrey;
    padding: 5px;
    text-align: center;
    color: black;
}

tr:nth-child(2n) {
    background-color: white;
}

tr:nth-child(2n+1) {
    background-color: #eeeeee;
}

th {
    padding: 5px;
    border: 1px solid dimgrey;
    background-color: lightgray;
    color: black;
}

.events caption {
    text-align: left;
}

/***************************/

/*Styles sastny*/
input,
button {
    outline: none;
    border: none;
}

h1, h2, h3 {
    text-align: center;
    margin: .5em 0;
    padding: 0 .7em;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: #1ecc4a;
    text-decoration: underline;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
}

input[type="submit"] {
    cursor: pointer;
}

.error-message {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

/*fluid grid end*/
.text-justify {
    text-align: justify;
}

.custom-link {
    text-align: center;
}

.content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.content ul li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 18em;
    flex: 1 1 18em;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

.content ul li:hover {
    background: #910101;
}

.content ul li p.news-text {
    padding: 0 .7em;
    text-align: justify;
    text-indent: 1em;
}

.content h3 {
    font-size: 1.5em;
}

.content img {
    height: 15em;
}

.content details a {
    color: #999;
}

.content details a:hover {
    color: #bbb;
    text-decoration: underline;
}

/*registration*/
.register-form {
    padding: 3em 3em .5em;
}

.input-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0 0 1em;
    color: #fff;
    text-align: center;
}

.input-inline-block {
    margin: 0 0 1em;
    color: #fff;
    text-align: center;
}

.register-form label,
.register-form input {
    display: block;
}

.register-form label {
    color: #ccc;
}

.register-form input {
    padding: .5em;
    background-color: #ccc;
}

.register-form label.required::after {
    content: "*";
    color: #ccc;
    display: inline;
}

.register-form input[type="submit"] {
    font-size: 1em;
    font-weight: bold;
    margin: 2em 20% 0;
    padding: .3em;
    border-radius: .5em;
    cursor: pointer;
}

.register-form input:hover,
.register-form input:focus {
    background-color: #fff;
}

.register .custom-button {
    margin: .5em 20%;
}

.header-top-block {
    float: left;
}

.header-lang-block {
    float: right;
}

.header-user-block {
    float: left;
}


.logo-block {
    float: left;
    padding: 7px 15px 5px 5px;
}


.img-logo {
    width: 36px;
    /*height: 100px;*/
}

.img-top {
    width: 500px;
    /*height: 100px;*/
}

.img-choose-sport {
    width: 500px;
}