
/*.colors {

    color: #34495e;-мокрый асфальт
    color: #c0392b; -красный
    color: #3498DB; -синий
    color: #569ECC;
    color: #B8E5FF;
    color: #509999; - зеленый
    color: #FFD685; -золотой
}*/


/*Для разметки главных блоков страницы*/
.layout-positioner {
    width: 1000px;
    margin: auto;
    /*border: 1px dashed #db1e2c;*/
}

/*Блоки внутри layout-positioner, чаще всего в пределах тега section*/
.block-float {
    float: left;
    color: black;
    padding: 2.5px;
}

/*fluid grid*/
.container, .wrapper {
    width: 100%;
    margin: 0 auto;
}



/***************************/

input,
button {
    outline: none;
    border: none;
}

.error-message {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.err-msg {
    color: #b11826;
}


.lang-block {
    float: right;
}